/*Estilos para los html*/
.estilo_accion{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
    background-color: rgb(55, 173, 55); 
<<<<<<< HEAD
    background-image: url('../imagenes/gif-accion.webp');
=======
    background-image: url('/imagenes/gif-accion.webp');
>>>>>>> c99c1dd4bf25b6a334b30eb6773bb8917a473055
    background-size: cover; 
    background-position: center; 
}

.estilo_carreras{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
    background-color: rgb(55, 173, 55); 
<<<<<<< HEAD
    background-image: url('../imagenes/carrerasgif.webp');
=======
    background-image: url('/imagenes/carrerasgif.webp');
>>>>>>> c99c1dd4bf25b6a334b30eb6773bb8917a473055
    background-size: cover; 
    background-position: center; 
}

.estilo_categorias{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
    background-color: rgb(55, 173, 55); 
<<<<<<< HEAD
    background-image: url('../imagenes/warzone.webp');
=======
    background-image: url('/imagenes/warzone.webp');
>>>>>>> c99c1dd4bf25b6a334b30eb6773bb8917a473055
    background-size: cover; 
    background-position: center; 
}

.estilo_ftp{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
    background-color: rgb(55, 173, 55); 
<<<<<<< HEAD
    background-image: url('../imagenes/warframe.gif');
=======
    background-image: url('/imagenes/warframe.gif');
>>>>>>> c99c1dd4bf25b6a334b30eb6773bb8917a473055
    background-size: cover; 
    background-position: center; 
}

.estilo_juegosterror{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
    background-color: rgb(55, 173, 55); 
<<<<<<< HEAD
    background-image: url('../imagenes/juegosdeterror.gif');
=======
    background-image: url('/imagenes/juegosdeterror.gif');
>>>>>>> c99c1dd4bf25b6a334b30eb6773bb8917a473055
    background-size: cover; 
    background-position: center; 
}

.estilo_loguin{
    display: flex;
<<<<<<< HEAD
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../imagenes/relax2.gif');
    background-size: cover;
    background-position: center;
=======
    align-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
    background-color: rgb(55, 173, 55); 
    background-image: url('/imagenes/relax2.gif');
    background-size: cover; 
    background-position: center; 
>>>>>>> c99c1dd4bf25b6a334b30eb6773bb8917a473055
}

.estilo_mundoabierto{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
    background-color: rgb(55, 173, 55); 
<<<<<<< HEAD
    background-image: url('../imagenes/horizon-zero.gif');
=======
    background-image: url('/imagenes/the-witcher.webp');
>>>>>>> c99c1dd4bf25b6a334b30eb6773bb8917a473055
    background-size: cover; 
    background-position: center; 
}

.estilo_paginap{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
    background-color: rgb(55, 173, 55); 
<<<<<<< HEAD
    background-image: url('../imagenes/horizon-zero.gif');
=======
    background-image: url('/imagenes/horizon-zero.gif');
>>>>>>> c99c1dd4bf25b6a334b30eb6773bb8917a473055
    background-size: cover; 
    background-position: center; 
}

.estilo_registro{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
    background-color: rgb(55, 173, 55); 
<<<<<<< HEAD
    background-image: url('../imagenes/relax2.gif');
=======
    background-image: url('/imagenes/relax2.gif');
>>>>>>> c99c1dd4bf25b6a334b30eb6773bb8917a473055
    background-size: cover; 
    background-position: center; 
}

.estilo_supervivencia{
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
    background-color: rgb(55, 173, 55); 
<<<<<<< HEAD
    background-image: url('../imagenes/ark.gif');
=======
    background-image: url('/imagenes/ark.gif');
>>>>>>> c99c1dd4bf25b6a334b30eb6773bb8917a473055
    background-size: cover; 
    background-position: center; 
}

/*Estilos containers formularios*/
.container_form {
<<<<<<< HEAD
    width: 580px;
    height: auto;
    background: transparent;
    border:2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.container_form h1{
    font-size: 36px;
    text-align: center;
    padding: 0px 0px 40px 0px;
}

.container_form .in_box{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0;
    font-size: 16px;
    color: #fff;
}

.in_box input{
    width: 100%;
    height: 40%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    color: #fff;

}

.in_box input::placeholder{
    color: #fff;
=======
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 20%;
    background: linear-gradient(rgb(145, 140, 77), rgb(148, 75, 75));
    padding: 3%;
    padding-top: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 220px;
}

/*Media query para ajustar estilos en pantallas mas pequeñas */
@media screen and (max-width: 1350px) {
    .container_form {
        width: auto;
        height: auto;
        align-items: center;
        font-display: flex;
        display: flex;
        flex-direction: row;
        background: linear-gradient(rgb(145, 140, 77), rgb(148, 75, 75));
        padding: 3%;
        padding-top: 70px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-left: auto;
        margin-right: auto;
        margin-top: 220px; 
    }
>>>>>>> c99c1dd4bf25b6a334b30eb6773bb8917a473055
}

/*Estilos para contenedor interno*/
.contenedor {
    align-content: center;
    align-items: center;
    margin: 20px;
    width: auto;
    height: auto;
    background: linear-gradient(rgb(139, 31, 31), rgb(14, 12, 119));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Estilos para contenedor externo*/
.contenedor2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
<<<<<<< HEAD
    width: 380px;
    height: auto;
    background: linear-gradient(black, grey) transparent;
=======
    width: 80%;
    height: auto;
    background: linear-gradient(black, grey);
>>>>>>> c99c1dd4bf25b6a334b30eb6773bb8917a473055
    padding: 3%;
    padding-top: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 220px;
    margin-bottom: auto;
}

/*Estilos para boton comprar*/
.comprar {
    width: auto;
    height: auto;
    padding: auto;
    border-radius: 8px;
}

/*Estilos para las imagenes*/
.imagenes {

    width:250px ;
    height: 250px;
    border-radius: 10px;
}

<<<<<<< HEAD
/*Estilos para el encabezado*/
header {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    position: fixed; 
    width: 100%; 
    top: 0; 
}

/* Estilos para los elementos del menu */
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
}

header ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

/* Estilo para el menú desplegable */
header ul ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

header ul ul li {
    display: block;
}

header ul li:hover ul {
    display: block;
}

/* Estilos para el footer */
footer {
    background-color:#333;
    color: #170442;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/*Estilos de letras*/
.resaltar {
    color: #2e0a0a;
    border-color: darkblue; 
    font-size: 24px; 
    font-weight: bold; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.precios {
    color: #851b1b;
    border-color: darkblue; 
    font-size: 24px; 
    font-weight: bold; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
=======
/*Estilo para formulario*/
form{
    width: auto;
    height: auto;
    align-items: center;
    align-content: center;
    align-self: center;
}

/*Estilo para letra formulario*/
.l_form {
   font-size: 80%;
   font-weight: bold;
}

/*Estilos para tabla*/
table {
    width: 50%;
}
>>>>>>> c99c1dd4bf25b6a334b30eb6773bb8917a473055
